<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings file="">
    <clear />
    <add key="GameMode" value="\Ai_vs_Ai.py" />
    <add key="DifficultyWhiteAi" value="3" />
    <add key="DifficultyBlackAi" value="3" />
    <add key="Dimension" value="70" />
    <add key="ThemeW" value="#f4e4b5" />
    <add key="ThemeB" value="#744b44" />
    <add key="PythonPath" value="C:\Python27" />
  </appSettings>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>